.profile {
  padding: 91px 0 70px;
  display: flex;
}

.profile__form {
  display: flex;
  flex-direction: column;
  width: 410px;
  position: relative;
}

.profile__message {
  position: absolute;
  top: 90px;
  margin: 0;
  color: var(--color-green);
}

.profile__message_color_red {
  color: var(--color-red);
}

.profile__input {
  font-size: 11px;
  line-height: 13.3px;
  border: none;
  padding: 0 1px 16px;
  width: 100%;
  text-align: end;
  box-sizing: border-box;
}

.profile__label:first-child .profile__input {
  margin-bottom: 13px;
  border-bottom: 1px solid var(--color-grey-tech-icon);
}

.profile__label {
  position: relative;
}

.profile__placeholder {
  position: absolute;
  top: 5px;
  left: -1px;
  font-size: 11px;
  line-height: 13px;
  color: var(--color-black);
}

.profile__btn {
  margin: 202px 0 16px;
  border: none;
  background: none;
  font-size: 13px;
  line-height: 16px;
}

.profile__out {
  text-decoration: none;
  color: var(--color-red);
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .profile {
    padding: 236px 0 70px;
  }
  .profile__label:first-child .profile__placeholder {
    top: 4px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 84px 0 70px;
  }
  .profile__form {
    width: 260px;
  }
  .profile__btn {
    margin: 361px 0 14px;
    font-size: 12px;
  }
  .profile__out {
    font-size: 12px;
  }
  .profile__placeholder {
    left: 0;
  }
  .profile__label:first-child .profile__placeholder {
    top: 4px;
  }
}