.burger {
  align-items: center;
  cursor: pointer;
  width: 44px;
  min-height: 44px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 100;
  padding: 2px 0 0;
}

.burger_loc_auth {
  display: none;
}

.burger__btn {
  width: 28px;
  height: 3px;
  background-color: var(--color-black);
  z-index: 100;
  position: absolute;
  top: 22px;
  right: 25px;
  transition: all .7s linear;
}

.burger__btn_color_white {
  background-color: var(--color-white);
}

.burger__btn::before {
  content: '';
  width: 28px;
  height: 3px;
  background-color: var(--color-black);
  z-index: 100;
  position: absolute;
  top: 10px;
  transition: all .5s linear;
}

.burger__btn_color_white::before {
  background-color: var(--color-white);
}

.burger__btn::after {
  content: '';
  width: 28px;
  height: 3px;
  background-color: var(--color-black);
  z-index: 100;
  position: absolute;
  bottom: 10px;
  transition: all .5s linear;
}

.burger__btn_color_white::after {
  background-color: var(--color-white);
}

.burger__btn_active {
  width: 28px;
  height: 3px;
  background-color: rgb(255, 255, 255, 0);
  z-index: 100;
  position: absolute;
}

.burger__btn_active::before {
  content: '';
  width: 28px;
  height: 3px;
  background-color: var(--color-black);
  z-index: 100;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  /* transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  transition: all .5s linear;
}

.burger__btn_active::after {
  content: '';
  width: 28px;
  height: 3px;
  background-color: var(--color-black);
  z-index: 100;
  position: absolute;
  bottom: 0;
  transform: rotate(315deg);
  /* transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  transition: all .5s linear;
}

@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
  .burger__btn_color_white {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .burger__btn_active::after {
    width: 22px;
  }
  .burger__btn_active::before {
    width: 22px;
  }
}

@media screen and (max-width: 767px) {
  .burger__btn {
    width: 22px;
    height: 2.5px;
    top: 18px;
    left: 13px;
  }
  .burger__btn_active {
    top: 9px;
    right: -2px;
  }
  .burger__btn::after {
    width: 22px;
    height: 2.5px;
    bottom: 9px;
  }
  .burger__btn::before {
    width: 22px;
    height: 2.5px;
    top: 9px;
  }
}
