.filter__checkbox {
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.filter__switch {
  display: inline-block;
  height: 14px;
  position: relative;
  width: 34px;
  margin-right: 12px;
}

.filter__switch input {
  display: none;
}

.filter__slider {
  background-color: var(--color-grey-tech-icon);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.filter__slider:before {
  background-color: var(--color-white);
  bottom: 2px;
  content: "";
  height: 10px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 10px;
}

.filter__check:checked+.filter__slider::before {
  background-color: var(--color-grey-tech);
}

.filter__check:checked+.filter__slider {
  background-color: var(--color-green);
}

.filter__check:checked+.filter__slider:before {
  transform: translateX(20px);
}

.filter__slider.filter__round {
  border-radius: 34px;
}

.filter__slider.filter__round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .filter__checkbox {
    justify-content: center;
    margin: 0;
  }
  .filter__slide {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .filter__text {
    font-size: 11px;
  }
}