.header {
  background: var(--color-blue);
  margin: 0 auto;
  padding: 19px 0 0;
  width: 100%;
  box-sizing: border-box;
}

.header_place_auth {
  width: 396px;
  margin: 0 auto;
  padding: 70px 0 0;
}

.header_place_movies {
/*   display: flex;
  justify-content: space-between; */
  background: none;
  max-width: 1140px;
}

.header__head {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__head_place_auth {
  display: block;
}

.header__navbar {
  align-self: center;
}

.header__logo {
  background: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
}

.header__logo_place_auth {
  margin-bottom: 40px;
}

.header__link {
  margin-right: 30px;
  text-decoration: none;
  color: var(--color-white);
  align-self: center;
  font-size: 12px;
  line-height: 16px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link_active {
  padding: 8px 20px;
  border-radius: 3px;
  color: var(--color-black);
  background-color: var(--color-green);
  text-decoration: none;
  align-self: center;
}

.header__link:hover {
  cursor: pointer;
}

.header__navbtn {
  box-sizing: border-box;
  width: 100px;
  height: 32px;
  border-radius: 16px;
  background: var(--color-white);
  border: 2px solid var(--color-border-btn);
  box-shadow: 0 0 10px var(--color-grey-tech-icon);
  padding: 7px 0px 11px 17px;
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  position: relative;
  letter-spacing: 0.6px;
}

.header__navbtn::before {
  content: '';
  background: url(../../images/account-icon.svg) no-repeat;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  top: 6px;
  left: 9px;
}

.header__links {
  display: flex;
  margin-left: 60px;
}

.header__navlink {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--color-black);
  letter-spacing: -0.6px;
  align-self: center;
}

.header__navlink:first-child {
  margin-right: 16px;
}

.header__navlink_active {
  font-weight: 500;
}

.header__navlink_logged_in {
  color: var(--color-white);
}

@media screen and (max-width: 1240px) and (min-width: 1024px) {
  .header {
    padding: 19px 4% 0;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .header {
    padding: 14px 13px 0 30px;
  }
  .header_place_auth {
    padding: 227px 0 0;
  }
  .header__links {
    display: none;
  }
  .header__navlink {
    display: none;
  }
  .header__logo {
    box-sizing: border-box;
    margin: 4px 0 0;
  }
  .header__logo_place_auth {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px 0;
  }
  .header_place_auth {
    width: 100%;
    padding: 56px 0 0;
  }
  .header__logo_place_auth {
    margin: 0 auto 50px;
  }
  .header__link {
    margin-right: 15px;
    font-size: 10px;
    line-height: 16px;
  }
  .header__link_active {
    padding: 5px 12px;
  }
  .header__links {
    display: none;
  }
  .header__navlink {
    display: none;
  }
}